<body>
    {% include "header.html" %}

    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Welcome to<br> WHAT U WATCH!</h1>
            <p class="splash-subhead">
                Would you like to share your favorite movie and show? <br>
                This short survey focuses on your preferences and favorites when it comes to movies and shows. It's all for fun! 😊 😊<br>
            </p>
            <br>
            <p class="ask-consent">Do you want to take a survey?</p>
            <p>
                <a href="/survey" class="pure-button pure-button-primary">Consent</a>
                <a href="/decline" class="pure-button pure-button-primary">Decline</a>
            </p>
        </div>
    </div>
</body>
