<body>
    {% include "header.html" %}

    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Welcome to<br> WHAT U WATCH!</h1>
            <p class="splash-subhead">
                Would you like to share your favorite movie and show?
                or Do you want to recommend what to watch?<br>
                This is a short survey about your favorite/show. It's just for fun :)<br>
            </p>
            <br>
            <p class="ask-consent">Do you want to take a survey?</p>
            <p>
                <a href="/survey" class="pure-button pure-button-primary">Consent</a>
                <a href="/decline" class="pure-button pure-button-primary">Decline</a>
            </p>
        </div>
    </div>
</body>