<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WHAT U WATCH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include "header.html" %}
    <div class="splash-container">
        <div class="splash">
            <p class="ask-consent">Thank you for your participation! :)</p>
        </div>
    </div>
</body>
</html>